#index-background{
    background: url(../img/index-background.png);
    height: 0px;
    padding-top: 55%;
    width: 100%;
    position: relative;
    background-size: cover;
}

#nav{
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
}

#nav ul{
    position: absolute;
    top: 0px;
    right: 50px;
    width: 600px;
    height: 74px;
    /*background: red;*/
    float: right;
    line-height: 74px;
    padding: 30px 0px;
}

#nav ul li{
    float: left;
    height: 74px;
    width: 85px;
    text-align: center;
    line-height: 74px;
}

#nav ul li a{
    color: #292929;
    font-size: 17px;
    font-weight: bold;
}

.scroll-nav{
    position: fixed;
    background: black;
    height: 50px;
    padding: 10px 0px;
    opacity: 0.6;
}

.scroll-a{
    color: #fff;
}

.scroll-ul{
    padding: 10px 0px;
}

@media(max-width: 768px){

}



